<div class="container">
  <div class="row">
    <div class="col-12 col-lg-10">
      <div class="card-trip">
        <%= cl_image_tag @office.photo.key, width: 600, height: 500, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <h2><%= @office.name %></h2>
            <p><%= @office.description %></p>
          </div>
          <h2 class="card-trip-pricing">€ <%= @office.price %></h2>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
