// Specific CSS for your home-page
body {
  background-color: white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 48px;
  color: #216869;
}
