.flex-container {
  display: flex;
  margin-top: 80px;
  height: 110vh;
}

.flex-child {
  flex: 1;
  margin-right: 60px;
  height: 100%;
}  

.flex-child:first-child {
  margin-right: 20px;
} 

.index-container {
  margin-left: 60px;
  margin-top: -30px;
}

.index-container h2 {
  font-size: 40px;
}
.map-box {
  margin-top: 30px;
}