.flex-container {
  display: flex;
  margin-top: 80px;
  height: 150vh;
}

.flex-child {
  flex: 1;
}  

.flex-child:first-child {
  margin-right: 20px;
} 
.h1-container{
  margin-left: 60px;
  margin-bottom: 30px;
  color: #216869;
}
.photo-container{
  margin-left: 50px;
  margin-bottom: 30px;
}
.location-container{
  margin-left: 60px;
  margin-bottom: 30px;
}
.location-container h3 {
  color: #216869;

}

.amenities-container {
  margin-left: 60px;
  margin-bottom: 30px;
}
.amenities-container h3 {
  color: #216869;
}
.description-container {
  margin-left: 60px;
  margin-bottom: 30px;
}
.description-container{
  margin-left: 60px;
  margin-bottom: 30px;
}
.description-container h4{
  color: #216869; 
}
.list-inline .amenities-inline{
  list-style-type: none;
}
.list-inline-item {
  margin-left: 60px;
}
.preview-amenity__icon {
  height: 2rem;
}
span {
  margin-top: 0.5rem;
  margin-bottom: 0;
  text-align: center;
}
.icon-container>div{
  display: flex;
  padding: 100px, 100px;
}
.link {
  margin-left: 60px;
}
