
<div class="container">
  <div class="banner">
    <h1>Edit your bookings</h1>
      <p>Find me in app/views/bookings/edit.html.erb</p>
        <%= render 'bookings/new_booking_form', method: :PATCH %>
  </div>
</div>

