<h1>Your bookings</h1>
<div class="container" style="margin-top: 180px";>
  <div class="row justify-content-center">
    <div class="col-12">
       <% @bookings.each do |booking| %>
        <div class="card">
          <div>
          Office: <%= booking.office.name %>
          </div>
          Start Date: <%= booking.start_date %>
          <br>
          End Date: <%= booking.end_date %>
          <br>
          Category: <%= booking.category %>
        </div>
      <% end %>
    </div>
  </div>
</div>
