
<div class="container" style="margin-top: 180px";>
  <div class="row justify-content-center">
    <div class="col-12">
      <h1>Bookings#new</h1>
        <p>Find me in app/views/bookings/new.html.erb</p>
    </div>
  </div>
</div>