<div class="footer">
    <div class="links">
      <h3>Discover <i class="fas fa-map-marker"></i> a place <i class="fas fa-globe"></i> you'll love <i class="fas fa-heart"></i> to work <i class="fas fa-building"></i></h3>
      <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-fw fa-github"></i></a>
      <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
      <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
      <p>This website was coded with <i class="fas fa-heart"></i> in My Living Room.</p>
    </div>
  </div>