<div class="banner" style="background-image: url('<%= image_path 'banner.jpeg' %>');">
  <div class="container">
    <div class="content">
      <h1>Discover a place you’ll love to work</h1>
      <%= simple_form_for :search, url: offices_path, method: :get do |f| %>
        <div class="search-form-control form-group">
          <input class="form-control string required" type="text" name="search" id="search" />
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i> Search
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
