<div class="banner" style="background-image: url('<%= image_path 'banner.jpeg' %>');">
  <div class="container">
    <div class="content">
      <h1>Discover a place you’ll love to work</h1>
      <%= simple_form_for :search, url: offices_path, method: :get do |f| %>
        <div class="search-form-control form-group">
          <input class="form-control string required" type="text" name="search" id="search" />
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i> Search
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br>
<div class="container">
  <h2 class="text-center">See how Birou can help</h2>
</div>
<br>
<div class="container">
  <div class="cards">
    <div class="card">
      <img src="https://dinksystudio.com/wp-content/uploads/2019/09/ligo_klatka4-1024x551.jpg" alt="">
      <h4>Optimised for Focus</h4>
      <p>Prioritising natural light and power access, workstations maximise productivity, minimise distraction and enable quality ROI.</p>
    </div>
    <div class="card">
      <img src="https://www.finaltouchmarketing.com/wp-content/uploads/2018/04/18.png" alt="">
      <h4>Amenities All Your Own</h4>
      <p>With a private reception, conference rooms, executive offices, phone booths, and pantries, enjoy exclusive access for a cohesive employee experience</p>
    </div>
    <div class="card">
      <img src="https://i.pinimg.com/originals/f2/9e/24/f29e24e62d512f9a66b7ada1b1c8b87c.png" alt="">
      <h4>Meeting Essentials 2.0</h4>
      <p>Equipped with high-end A/V equipment and options for acoustic treatment, your private conference rooms will be state of the art.</p>
    </div>
  </div>
</div>
<br>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
  <h1 class="display-4 text-center">About Birou</h1>
  <div class="col-sm-6 about-regus-block__column">
    <div class="line-content-holder line-content-holder--about-birou"> 
      <p class="line-content-holder__line line-content-holder__line--icon-temporary-ofice"> We are <strong>the world’s largest provider of flexible workspace solutions,</strong> with customers including some of the most successful entrepreneurs, individuals and multi-billion dollar companies.</p> 
      <p class="line-content-holder__line line-content-holder__line--icon-start-working"> We enable people and businesses to <strong>work where they want, when they want and how they want.</strong></p>
    </div> 
  </div>
  <div class="col-sm-6 about-regus-block__column">
  <div class="line-content-holder line-content-holder--about-birou">
    <p class="line-content-holder__line line-content-holder__line--icon-global-workspace"> Our network includes almost <strong>3000 business centres, spanning almost 900 cities across 120 countries.</strong></p>
    <p class="line-content-holder__line line-content-holder__line--icon-founded"> We were founded in Brussels, Belgium,in 1989. Regus is based in Zug, Switzerland and listed on the London Stock Exchange.</p>
    </div>
  </div>
  </div>
</div>