.footer {
  text-align: center;
  padding: 60px;
  background-color: #216869;
}
.footer a {
  font-size: 30px;
  color: #FF6F59;
}
.footer p {
  color: #201E1F;
}
.footer .fas {
  color: #BF0F12;
  font-weight: 900;
}

.footer h3 {
  color: #201E1F;
}

