.navbar-lewagon {
  justify-content: space-between;
  background: white;
  opacity: 0.9;
  margin-bottom: 80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .nav-item {
  padding-right: 80px;
  font-size: 18px;
  display: inherit;
}

.nav-item .dropdown {
  padding-right: 60px;
}

.navbar-container {
  flex: 1;
}

