.navbar-lewagon {
  justify-content: space-between;
  background: white;
  opacity: 0.9;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .nav-item {
  padding-right: 25px;
  font-size: 18px;
  display: inherit;
}
.navbar-lewagon .nav-item:hover {
  border-bottom: 2px solid black;
  transition: linear .3s;
  margin-bottom: -10px;
}
.navbar-container {
  flex: 1;
}

